.main-theme-toggle {
  display: flex;
  height: fit-content;
  align-items: center;
  border-radius: 9999px;
  background-color: var(--bg-secondary);
  padding: 0.125rem; /* p-0.5 */
  color: var(--text-primary);
  border: 1px solid var(--border-primary);
}

.main-theme-toggle__option {
  border-radius: 9999px;
  padding: 0.5rem; /* p-2 */
}

.main-theme-toggle__option--light {
  background-color: var(--accent);
  transition: background-color 0.2s ease;
}

.dark .main-theme-toggle__option--light {
  background-color: transparent;
}

.main-theme-toggle__option--dark {
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.dark .main-theme-toggle__option--dark {
  background-color: var(--accent);
}
