---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/home/Hero.astro'
import WavesBg from '../components/home/WavesBg.astro'
import HowItWorks from '../components/home/HowItWorks.astro'
---

<Layout
  title='PixelPerfection - Training and practice challenges for devs'
  description='Want to improve your attention to detail? Struggle align designs perfectly to a design? Or instead, want to prove you can! Test your mettle with PixelPerfection.'
>
  <WavesBg />
  <Hero />
  <div
    class='w-full md:max-w-screen-md mx-auto text-2xl text-center px-4 md:px-12'
  >
    <p>
      Welcome to PixelPerfection, the ultimate challenge for detail-oriented
      developers. Spot the differences, correct the code, and achieve pixel
      perfect results. Are you ready to play and learn?
    </p>
    <div class='my-24'>
      <a
        href='/app'
        class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-full'
        >Lets go!</a
      >
    </div>
    <h2 class='text-2xl md:text-3xl lg:text-4xl font-bold text-center mb-4'>
      What is PixelPerfection?
    </h2>
    <p>
      PixelPerfection isn't just a coding challenge, it's a game of detail,
      precision, and coding prowess. As a detective, problem-solver, and
      developer, you'll work to transform the wrong design into a perfect match.
      It's fun, it's competitive, and it's the perfect way to improve your
      skills. Compete with your friends, earn XP, and climb up the leaderboard.
    </p>
  </div>
  <HowItWorks />
</Layout>
