---
const steps = [
  {
    title: 'Choose Your Challenge',
    description:
      'Pick from a variety of challenges that test different aspects of your HTML and CSS knowledge. Each challenge presents you with two designs - one perfect and one not-so-perfect. Your task is to spot the differences and make the incorrect design match the perfect one.',
  },
  {
    title: 'Spot the Differences',
    description:
      "Use your keen eye for detail to identify the inconsistencies between the two designs. Is it a color that's off? Maybe the padding isn't quite right, or perhaps an element is misaligned. The devil is in the detail!",
  },
  {
    title: 'Correct the Code',
    description:
      "You're given the existing code for the incorrect design. Your mission, should you choose to accept it, is to dive into the HTML and CSS and fix the issues. Your changes will update the design in real time, so you can see the effect of your code adjustments.",
  },
  {
    title: 'Achieve PixelPerfection',
    description:
      "Keep refining until you can't tell the difference between the two designs. Voila, you've achieved PixelPerfection!",
  },
  {
    title: 'Level Up',
    description:
      'Complete challenges to earn experience points (XP). The faster and more accurately you solve them, the more XP you earn. Track your progress, climb the leaderboard, and become a PixelPerfection champion!',
  },
]
---

<ul class='text-left pt-16 max-w-screen-md mx-auto'>
  {
    steps.map(({ title, description }, index) => (
      <li class='flex gap-2 mb-4 w-full px-2 mx-auto max-w-screen-md'>
        <div class='flex flex-col w-16 items-center'>
          <div class='w-16 h-16 font-lato text-4xl text-white relative flex items-center justify-center font-bold mb-4'>
            <span>{index + 1}</span>
          </div>
          <div class='w-[4px] h-full bg-white' />
        </div>
        <div class='pb-12 px-6'>
          <h3 class='font-bold text-2xl text-blue-500'>{title}</h3>
          <p class='text-xl'>{description}</p>
        </div>
      </li>
    ))
  }
</ul>

<style>
  ul {
    background: linear-gradient(
      180deg,
      transparent 0%,
      #1f2937 100px,
      #111827 100%
    );
  }

  .dark ul {
    background: linear-gradient(180deg, transparent 0%, #ddd 100px, #fff 100%);
  }
</style>
