---
import ThemeIcon from "./ThemeIcon.astro";

---

<nav class="flex p-6 justify-center items-center bg-gray-300 dark:bg-gray-700">
    <div class="text-3xl text-blue-500 font-extrabold uppercase">
        PixelPerfection
    </div>
    <div class="absolute right-10">
        <ThemeIcon />
    </div>
</nav>