.editors {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__section {
    flex: 1;
    height: 50%;
  }

  &__title {
    padding-inline: 1rem;
    font-size: 1rem;
    color: var(--text-primary);
    margin: 0;
    background-color: var(--secondary);
  }
}
